/* Colors */
$themecolor1:     rgb(229,69,73) !default;
$themecolor2:     rgb(254,180,63) !default;

$primary:         rgb(229,69,73) !default;
$secondary:       rgb(99,140,28) !default;
$secondaryLight:  rgb(225,237,195) !default;
$ternary:         rgb(50,62,72) !default;
$quardnary:       rgb(229,69,73) !default;

$lightColor:      rgb(255,255,255) !default;
$lightGrey:		  #f9f9f9 !default;
$DarkGrey:		  rgb(50,62,72) !default;




/* Fonts */
$font-family:          'Verdana';
$font-family-bold:     'VerdanaBold';

$secondary-font:       'GillSans';
$secondary-font-bold:  'GillSansBold';

