.headerCntr {
	background-color: $themecolor1;
	padding: 1.43rem;
}
.headerCntr--colortheme {
	background-color: $themecolor2;
}

@media only screen and (max-width: 991px)  {

}


@media only screen and (max-width: 767px)  {
	.headerCntr {
		padding-left: 5px;
		padding-right: 5px;
	}
}
