/* ### general ### */
* { margin: 0px; padding: 0px; }
html, body { font-family: $font-family, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.3rem; color: #000; }
input, select, textarea { font-family: $font-family, sans-serif; font-size: 13px; color: #000; }
body { background: #fff; }
img { border: 0px; display: block; max-width: 100%; }
a, input { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
a { transition: all 0.3s; -webkit-transition: all 0.3s; }

/* ### global classes ### */
.clear { clear: both; height: 0px; overflow: hidden; }

.white-color { color: $lightColor; }
.white-bg { background-color: $lightColor; }
.secondary-color { color: $secondary; }
.secondary-bg { background-color: $secondary; }
.primary-color { color: $primary; }
.primary-bg { background-color: $primary; }
.lightGrey-color { color: $lightGrey; }
.lightGrey-bg { background-color: $lightGrey; }

.wrapper { overflow: hidden; max-width: 1024px; margin: 0 auto; padding-left: 1.4285714285714286rem; padding-right: 1.4285714285714286rem; }
.full-height { min-height: calc(100vh - 86px); }
.full-width { width: 100%; }
.image-bg { background-position: center center; background-size: cover; background-repeat: no-repeat; }

ul, ol { list-style: none; }
fieldset { border: 0px none; }
strong {
	font-family: $font-family-bold;
}
a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}

/* Heading font size */
h1,h2,h3,h4,h5,h6,p { margin: 0; font-weight: normal;
	a { text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
h1 { font-family: $secondary-font-bold; font-size: 1.43rem; letter-spacing: 0.15rem; }
h2 { }
h3 { }
h4 { font-family: $secondary-font-bold; font-size: 1.25rem; }
h5 { }
h6 { }

/* paragraphs */
p { }


/* horizontal rular */
.icon {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	display: inline-block;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-image: url('../images/sprite.png');
	&.icon-55 {
		height: 55px;
		width: 55px;
	}
	&.icon-20 {
		height: 1.4285714285714286rem;
		width: 1.4285714285714286rem;
	}
	&.icon-40 {
		height: 40px;
		width: 40px;
	}
	&.icon-arrow { background-position: 0 0; }

}
/* Global icons Ends */

/* Buttons Styling */
.btn {
	text-decoration: none;
	&.btn-danger {
		background-color: $primary;
		border-color: $primary;
	}
}

.long-btn0 { padding-left: 0px; padding-right: 0px; }
.long-btn5 { padding-left: 5px; padding-right: 5px; }
.long-btn30 { padding-left: 2.142857142857143rem; padding-right: 2.142857142857143rem; }
.long-btn50 { padding-left: 3.5714285714285716rem; padding-right: 3.5714285714285716rem; }
.long-btn70 { padding-left: 70px; padding-right: 70px; }
.long-btn100 { padding-left: 100px; padding-right: 100px; }

.btn-custom {
	padding-top: 0.7142857142857143rem;
	padding-bottom: 0.7142857142857143rem;
	border-radius: 0.7142857142857143rem;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-family: $secondary-font-bold;
}

.text-container {
	margin: 1.7857142857142858rem;
	padding: 2.142857142857143rem;
	width: 315px;
	position: relative;
	border-radius: 1.4285714285714286rem;
	&::before, &::after {
		content: "";
		position: absolute;
		left: 100%;
		bottom: 70px;
		background-color: rgba($lightColor,0.7);
		height: 1.4285714285714286rem;
		width: 2000px;
		margin-left: -1.4285714285714286rem;
	}
	&::before {
		height: 60px;
		bottom: 0px;
	}
}

.chat-wrapper {
	padding: 1.7857142857142858rem 0px 1.7857142857142858rem 0.7142857142857143rem;
}
.border-dark-grey {
	border-color: $DarkGrey !important;
}
.right-panel {
	padding: 1.4285714285714286rem 2.142857142857143rem 0 40px;
	width: 325px;
	display: flex;
	flex-flow: wrap;
}
.left-panel {
	padding: 1.4285714285714286rem 2.142857142857143rem 0 0px;
	height: 100%;
    overflow: auto;
}

.message {
	display: flex;
	width: auto;
	position: relative;
	margin-bottom: 2.142857142857143rem;
}
.message--in {
	flex-direction: row-reverse;
	.message__image {
		margin-right: 0;
		margin-left: 1.5714285714285714rem;
	}
	.message__chat {
		border-radius: 0.7142857142857143rem 0px 0.7142857142857143rem 0.7142857142857143rem;
		&:after {
			left: 100%;
			right: auto;
			border-left: none;
			border-right: solid 15px transparent;
		}
	}
}
.message__image {
	float: left;
	height: 3.5714285714285716rem;
	width: 3.5714285714285716rem;
	min-width: 3.5714285714285716rem;
	margin-right: 1.5714285714285714rem;
	border-radius: 50%;
	overflow: hidden;
}
.message__image--lg {
	width: 4.642857142857143rem;
	height: 4.642857142857143rem;
	min-width: 4.642857142857143rem;
	min-height: 4.642857142857143rem;
}
.message__chat {
	padding: 0.7142857142857143rem 1.4285714285714286rem;
	background-color: #eaeced;
	border-radius: 0 0.7142857142857143rem 0.7142857142857143rem 0.7142857142857143rem;
	position: relative;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	max-width: 290px;
	&:after {
		position: absolute;
		right: 100%;
		top: 0px;
		content: "";
		width: 0px;
		height: 0px;
		border-top: solid 1.4285714285714286rem #eaeced;
		border-left: solid 15px transparent;
		border-bottom: solid 1.4285714285714286rem transparent;
	}
}
.message__chat--secondary {
	background-color: $secondaryLight;
  cursor: pointer;
	&:after {
		border-top-color: $secondaryLight;
	}
}
.message__chat--white {
	background-color: $lightColor;
	&:after {
		border-top-color: $lightColor;
	}
}

.message__icon {
	height: 2.142857142857143rem;
	width: 2.142857142857143rem;
	min-width: 2.142857142857143rem;
	min-height: 2.142857142857143rem;
	border-radius: 50%;
	display: block;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}
.message__icon--wrong {
	background-image: url(../images/icon-wrong.png);
}
.message__icon--right {
	background-image: url(../images/icon-right.png);
}
.message__icon--absolute {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
	margin-right: -45px;
}


@media only screen and (max-width: 1199px)  {

}

@media only screen and (max-width: 991px)  {

}

@media only screen and (max-width: 767px)  {
	html, body { font-size: 12px; }
	body { background-color: $lightGrey; }
	.full-height {
		min-height: 0;
	}
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.left-panel {
		padding: 1.4285714286rem;
		height: auto;
	}
	.make-it-slide {
		padding: 3rem 1.4285714286rem;
		transition: 0.3s;
		position: fixed;
		right: 0;
		top: 0;
		background: #fff;
		z-index: 111;
		height: 100%;
		overflow: auto;
		max-width: 300px;
		margin-right: -300px;
		&:after {
			display: none;
			position: fixed;
			left: 0;
			top: 0;
			z-index: -1;
			content: "";
			height: 100%;
			width: 100%;
			background: rgba(255,255,255,0.5);
		}
	}
	.make-it-slide--open {
		box-shadow: 0 -10px 10px rgba(0,0,0,0.2);
		margin-right: 0;
		&:after {
			display: block;
		}
	}

	.right-panel {
		border: none !important;
		padding: 1.4285714286rem;
		width: 100%;
		.message--in {
			padding-right: 30px;
			min-height: 100px;
		}
	}
	.chat-wrapper {
		padding: 0;
		border: none !important;
	}

	.message__icon--absolute {
		margin-right: -10px;
	}

	.message {
		width: 100%;
	}
	.message__chat {
		max-width: none;
		width: 100%;
	}
}

@media only screen and (max-width: 479px)  {
}

@media only screen and (max-width: 479px)  {
}
