<div class="container" >
			<!--  / wrapper \ -->
		<section class="wrapper">

				<!--  / header container \ -->
				<header class="headerCntr" [class.headerCntr--colortheme] = "env == 'stomach'">
							<div class="container-fluid">
									<h1 class="text-uppercase white-color">Create Emotional Connections</h1>
							</div>
				</header>
				<!--  \ header container / -->

				<!--  / content container \ -->
				<section class="contentCntr" *ngIf="imagePart; else questionsPart">
						<!--  / Landing Page \ -->
					<article class="image-bg full-height d-flex align-items-end" [style]="backgroundImgURL">
						<div class="text-container white-bg">
							<p class="mb-2"><strong>{{heading}}</strong> {{text}}</p>
							<p class="mb-4"><strong>Answer {{chats?.length}} Questions</strong></p>
							<a (click)="setImagePart()" class="btn btn-lg btn-danger btn-block text-uppercase btn-custom" [class.btn-yellow] = "env == 'stomach'">Complete Now</a>
						</div>
           			 </article>
							<!--  \ Landing Page / -->
				</section>
				<!--  \ content container / -->

		</section>
			<!--  \ wrapper / -->
</div>


<ng-template #questionsPart>
    <!--  / content container \ -->
    <section class="contentCntr">
      <!--  / Landing Page \ -->
      <article class="full-height lightGrey-bg border-right border-left border-bottom chat-wrapper d-flex">
        <div class="row full-width mr-0 ml-0">
          <div class="col left-panel make-it-slide js-make-it-slide make-it-slide--open">
            <!-- <div class="col left-panel make-it-slide"> -->

            <div *ngFor="let message of messages">
              <div class="message" *ngIf="message.type == 0">
                <img class="message__image message__image--lg" src="assets/images/user-pic2.jpg" alt="">
                <div class="message__chat">
                  <p>{{message.msg}}</p>
                </div>
              </div>
              <div class="message message--in" *ngIf="message.type == 1">
                <img class="message__image" src="assets/images/user-pic.jpg" alt="">
                <div class="message__chat message__chat--white d-flex">
                  <span class="message__icon message__icon--wrong mr-3" *ngIf="!message.isCorrect"></span>
                  <span class="message__icon message__icon--right mr-3" *ngIf="message.isCorrect"></span>
                  <div class="description">
                    <h4 class="primary-color" *ngIf="!message.isCorrect">Incorrect Answer</h4>
                    <h4 class="secondary-color" *ngIf="message.isCorrect">Correct Answer</h4>
                    <p>{{message.msg}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-panel border-dark-grey border-left" *ngIf="!(finished || correctAnswer)">
            <div class="message">
              <img class="message__image" src="assets/images/user-pic.jpg" alt="">
              <h4>Select an answer from the options below:</h4>
            </div>
            <div *ngFor="let option of chats[selectedQuestion].options ;let i = index">
              <div class="message js-message-click message--in" *ngIf="!option.hidden">
                <div class="message__chat message__chat--secondary" (click)="onSelectAnswer(i)" >
                  <p>{{ option.label}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="right-panel border-dark-grey border-left" *ngIf="finished">
            <div class="">
              <i class="right-panel__successicon"></i>
              <p class="mg-b20 mg-t30">Well done! You have completed this activity.</p>
              <button class="btn btn-lg btn-danger btn-block text-uppercase" [class.btn-yellow] = "env == 'stomach'" (click)="imagePart = true">Finish</button>
            </div>
          </div>
          <div class="right-panel border-dark-grey border-left" *ngIf="correctAnswer">
              <div class="">
                <i class="right-panel__successicon"></i>
                <p class="mg-b20 mg-t30">Well done!</p>
                <button class="btn btn-lg btn-danger btn-block text-uppercase" [class.btn-yellow] = "env == 'stomach'" type="button" (click)="moveToNextQuestion()"> Next Question</button>
              </div>
            </div>
        </div>
      </article>
      <!--  \ Landing Page / -->
    </section>
    <!--  \ content container / -->
</ng-template>
