.right-panel {
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.right-panel__successicon {
    border: 3px solid green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.right-panel__successicon:before{
    content: "";
    height: 12px;
    width: 21px;
    position: absolute;
    z-index: 1;
    border-color: green;
    border-width: 0 0 3px 3px;
    border-style: solid;
    transform: rotate(-45deg);
    left: 12px;
    top: 13px;
}

.btn-yellow {
    background-color: #feb43f;
    border-color: #feb43f;
}

/* Margin Class */
.mg-t10 { margin-top: 10px; }
.mg-t20 { margin-top: 20px; }
.mg-t30 { margin-top: 30px; }


.mg-b10 { margin-bottom: 10px; }
.mg-b20 { margin-bottom: 20px; }
.mg-b30 { margin-bottom: 30px; }