@font-face {
    font-family: 'GillSans';
    src: url('../fonts/text-font/GillSansMT.woff2') format('woff2'),
        url('../fonts/text-font/GillSansMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansBold';
    src: url('../fonts/text-font/GillSansMT-Bold.woff2') format('woff2'),
        url('../fonts/text-font/GillSansMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/text-font/Verdana.woff2') format('woff2'),
        url('../fonts/text-font/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VerdanaBold';
    src: url('../fonts/text-font/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/text-font/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/text-font/MinionPro-Regular.woff2') format('woff2'),
        url('../fonts/text-font/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}